DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_TIME_ZONE=Europe/Berlin
DT_FERNET_KEY=
DT_REFERENCE_TERRAFORM_ROOT=C:\Tools\Terraform\tf-dynatrace
DT_ACCOUNT_SSL_VERIFY=true
DT_ACCOUNT_CA_BUNDLE=
DT_ENV_SSL_VERIFY=true
DT_ENV_CA_BUNDLE=