tenant_test_env_url   = "https://hgm72482.live.dynatrace.com"
tenant_test_api_token = "__SET_TEST_ENV_API_TOKEN__"

tenant_prod_env_url   = "https://uqy31769.live.dynatrace.com"
tenant_prod_api_token = "__SET_PROD_ENV_API_TOKEN__"

platform_test_env_url      = "https://hgm72482.apps.dynatrace.com"
platform_test_token        = "__SET_TEST_PLATFORM_TOKEN__"

platform_prod_env_url      = "https://uqy31769.apps.dynatrace.com"
platform_prod_token        = "__SET_PROD_PLATFORM_TOKEN__"

account_id            = "c65530cc-1621-455c-989d-22e43b2c00f5"
account_client_id     = "__SET_ACCOUNT_CLIENT_ID__"
account_client_secret = "__SET_ACCOUNT_CLIENT_SECRET__"

account_management_api_url         = "https://api.dynatrace.com"
